[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
requests = "*"
django-crispy-forms = "*"

[dev-packages]
django-debug-toolbar = "*"
