{% extends "accounts_base.html" %}
{% load bootstrap4 %}

{% block content %}
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
        </div>
    </header>

        <div class="container">
            <div class="section-title">

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
    <p>

    <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign-up</a> </p>
     <!-- would be cool to enable SSO with FB, TWitter, etc --> <!--      
        <a href="" class="btn btn-block btn-twitter"> <span class="ti-twitter-alt"></span>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"><span class="ti-facebook"></span></i>   Login via facebook</a>
    </p>
    <p class="divider-text">
        <span class="bg-light">OR</span>
    </p> -->
 <!-- END would be cool to enable SSO with FB, TWitter, etc --> 
{% block form %}

{% include "accounts/form_snippet.html" with form_title="Log In" %}

{% endblock form %}





</article>
</div> <!-- card.// -->

<!-- END signup form -->

</div>
</div>
</div>

{% endblock content %}
