{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
            {% block title %}
        {% endblock title %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Recipes by cuisine and more. Eat the world!">


    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Main css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/eat-custom.css' %}" rel="stylesheet">

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'images/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" class="img-fluid" alt="logo"></a>

<!-- if user is logged in -->
                {% if request.user.is_authenticated %}
                        <a class="btn btn-outline-light my-3 my-sm-0 ml-lg-3" href="{% url 'view_profile' request.user %}" ><span class="ti-user">   </span>
                            {{ request.user }}
                        </a>

                {% else %}
<a href="/account/login2/" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3"><span class="ti-user">   </span>LOGIN</a>
                {% endif %}


                    </nav>
                </div>
            </div>
        </div>
    </div>

{% block main %}


    <div class="container pt-2">

      {# Enable Django's "messages" system #}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-padding {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
 
      {% endblock content %}
    </div>

{% endblock main %}

<!-- FOOTER -->
    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 1721 Broadway #201, Oakland, CA 94612 USA</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:contact@email.com">contact@email.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
        
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2019. ALL RIGHTS RESERVED. EAT THE WORLD</small></p>
<!--
        <small>
            <a href="#" class="m-2">ABOUT</a>
        </small> -->
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>
