{% extends "base.html" %}


{% block title %}
    ETW Test Page
{% endblock title %}


{% block content %}
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Recipes for You</h1>
            <p class="tagline"><strong>Eat The World</strong> helps you find a great recipe for any cuisine.</p>
            <br />
            <br />
        </div>

    </header>

<!-- example of pulling specific data from api output -->	
    {% for recipe in random_recipe.results %}
        {{ recipe.title }}
        <img src="{{ recipe.image }}">
    {% endfor %}
    <!-- example of pulling specific data from api output -->
    </h1>


<h2>List of Cuisines</h2>
    <form action="." method="GET">
        {% csrf_token %}
        {{ list_of_cuisines.as_p }}
        <button class="btn btn-primary">Get a Recipe!</button>
    </form>
<br />
<hr>
<h2>Random Recipe</h2>
<p>{{ random_recipe }}</p>
<br />
<hr>
<h2>Recipe Details</h2>
<p>{{ recipe_details }}</p>

{% endblock content %}


